<h2 id="title">Welcome to Ember</h2>

<p>
We are using node {{process.versions.node}},
Chromium {{process.versions.chrome}},
and Electron {{process.versions.electron}}.
</p>

{{input value=first_name}}
<br>
{{input value=last_name}}
<br>
{{input value=fullName}}
<br>
first_name - {{first_name}}
<br>
last_name - {{last_name}}
<br>
fullName - {{fullName}}
<br>
fullName2 - {{fullName2}}